@import './center.css';
@import './right.css';

.s-header {
  background: #171a21;
  color: #b8b6b4;
  font-size: 14px;
}

.content {
  height: 104px;
  width: 940px;
  margin: 0 auto;
}

.logo {
  padding-top: 30px;
  margin-right: 40px;
  width: 176px;
  height: 44px
}



dl{
  background:#171a21;
  display:none;
}
/*dl dd{*/
  /*padding:5px 5px 10px 15px;*/
/*}*/


.nav {

  list-style:none;
}

.nav a{
  color:#b8b6b4;
  font-weight:800
}

.nav a:hover{
  color:#fff;
}

.nav li{
  float:left;
}
.nav li:hover dl{
  display:block
}
