body {
  margin: 0;
  padding: 0;
  background: url(colored_body_top2.png) center top no-repeat #1b2838;
}

body * {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a:-webkit-any-link {
  cursor: pointer;
}

a:hover, a:focus, a:visited {
  color: #fff;
}

