
.big-pic img {
  height: 50%;
  width: 470px;
}

.small-pic div {

}

.small-pic img {
  padding: 0;
  margin-top: -3px;
}

.small-pic img {
  width: 241px;
  height: 50%;
}

.sld-title {
  font-size: 18px;
  margin-top: -5px;
  background-color: #000;
  color: #fff;
  height: 56px !important;
}

.sld-price {
  font-weight: bold;
  float: right;
  color: #acdbf5;
  font-size: 13px;

}

.el-carousel__button {
  width: 15px;
  height: 9px;
  border-radius: 2px;
  margin: -1.5px;
  background-color: #c6d4df !important;
}
